.container{
    margin-top: 150px;
    text-align: center;
    h4{
        color:dimgrey;
        font-weight: bold;
    }
    input{
        text-align: center;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        color:white;
        font-weight: bold;
    }
    .btn-warning{
        color: white;
        font-weight: bold;
    }
}